.git
.env
.DS_Store
airflow_settings.yaml
__pycache__/
astro
.venv
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db
mnt/airflow/logs/scheduler/latest/
backup/
spotify_credentials.txt
run.txt
astro_test/
services/conf/
mnt/airflow/dags/jars/